
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

#whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#title {
  position: absolute;
  left: 40%;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

#user-count {
  font-family: "Montserrat", sans-serif;
}

#title-bar {
  position: relative;
  z-index: 1;
}

#share-button {
  margin-left: 0px;
  margin-right: 25px;
}

#volume-button {
  margin-left: 0px;
  margin-right: 25px;
}

#copy-message {
  display: none;
  margin-left: 0px;
  margin-right: 25px;
  font-family: "Montserrat", sans-serif;
}